/*
 * OCTAVO
 * created by Philipp Geisler
 * originally inspired by a blog post by Clive Thompson,
 *   http://www.collisiondetection.net/mt/archives/2014/02/_thats_one_of_t.php
 */

 /* CSS resets from Bootstrap (v4-dev) */
@import '_variables';
@import 'normalize';
@import 'reboot';
@import 'font-awesome/font-awesome';

body {
    text-rendering: optimizeLegibility;
    -webkit-font-variant-ligatures: common-ligatures; /* for iOS and Safari 6 */
    font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-kerning: normal;
    font-variant-numeric: oldstyle-nums stacked-fractions; /* apparently not supported (by Safari) */
}

#content {
    width: 24rem;
    margin: auto;
}

h1 {
    font-size: 1.8rem;
    font-variant: small-caps;
    line-height: 3rem;
    text-align: center;
    margin: .75em .1em;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    font-variant: small-caps;
    margin-top: 1.5em;
    margin-bottom: .75em;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
    font-variant: small-caps;
    margin: 1em 0;
}

hr {
    clear: both;
    width: 80%;
    height: 3px;
    border: none;
    border-top: 1px solid;
}

.spaced {
    letter-spacing: .2em;
}

.em {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: .5em;
    margin: .5em .1em;
    padding-left: .25em; // correcting letter-spacing vs. text-align: center
}

.xs {
    font-size: 1.5rem;
    line-height: 1rem;
    letter-spacing: .2em;
    margin: .75em .25em;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

#post-meta {
    margin-bottom: 3em;

    div {
        font-size: 1.5rem;
        font-variant: small-caps;
        letter-spacing: .2em;
        text-align: center;
    }

    hr {
        width: 30%;
        margin: 0 auto;
    }

    .place {
        margin: 1em 0;
        &::after {
            content: ':';
        }
    }

    .author {
        font-size: 1rem;
        letter-spacing: normal;
        margin-bottom: 1em;
    }

    .author-name {
        font-size: 1.1rem;
        font-variant: small-caps;
        display: inline;
    }

    .year {
        font-size: 1rem;
        line-height: 1rem;
   }
}

p {
    font-size: 1.25rem;
    text-align: justify;
    margin: 2em 0 1em 0;
}

blockquote {
    font-size: 1em;
    font-style: italic;
    line-height: 1.7em;
    text-align: left;
    text-indent: 2em;
    margin: 2em 0;

    p {
        margin: 0;
    }

    cite {
        font-variant: small-caps;
        font-size: 1.2em;
        float: right;
    }
}

pre {
    background-color: #222;
    line-height: 1.1em;
    padding: .75em 1.25em;
    border-radius: 1rem;
    margin-bottom: 2em;

    code {
        color: #ddd;
        font-family: monospace;
        font-size: 1rem;
    }
}

figure {

    img {
        width: 100%;
        // border: 1px solid;
    }

    figcaption {
        position: relative;
        font-style: italic;
        font-variant: small-caps;
        font-size: 1rem;
        line-height: 1.1em;
        text-align: right;
        padding: .1em 0;
    }
}


.textbody > p::first-letter {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: darkred;
}

.excerpt {
    /* Read on… */
    a, a:link, a:visited {
        font-size: 1.75rem;
        font-variant: small-caps;
        font-weight: bold;
        width: auto;
        &::after {
            content: '…';
            text-decoration: none;
            display: inline-block;
        }
    }

    p:last-child {
        text-align: right;
    }
}



dt {
    font-size: 1.5rem;
    font-style: italic;
    &::after {
        content: ':';
    }
}

dd {
    font-size: 1.1rem;
    line-height: 1.25rem;
    text-indent: -.75em;
    margin-top: .75em;
    margin-left: 1em;
    &::before {
        content: '•';
        margin-right: .5em;
    }
    &:last-child {
        margin-bottom: 2em;
    }
}

.footnotes {
    ol {
        padding-left: 0;
        line-height: 1rem;
    }

    li {
        margin-bottom: .5em;
    }

    p {
        font-size: .9rem;
        line-height: 1rem;
        margin: 0;
    }

    .footnote-backref {
            text-decoration: none;
    }
}


nav {
    font-size: 1.5rem;
    width: 24rem;
    margin: 4rem auto;
    padding-bottom: 3rem;

    a.prev {
        float: left;
        &::before {
            font-family: IMFellFlowers;
            text-decoration: none;
            display: inline-block;
            content: '2';
            margin-left: -2em;
            margin-right: .5em;
        }
    }

    a.next {
        float: right;
        &.next::after {
            font-family: IMFellFlowers;
            text-decoration: none;
            display: inline-block;
            content: '1';
            margin-left: .5em;
            margin-right: -2em;
        }
    }
}

footer {
	clear: both;
	height: 1.4rem;
	width: 100%;
    font-size: 0.9rem;
}

.feet {
	bottom: 0 0;
	clear: both;
	width: 100%;

    .toe {
        float: right;
        padding: 0.1em 0.3em;
        &:first-child {
            margin-right: 1em;
        }

        a, a:visited, a:link {
            color: black;
            background-color: transparent;
        }
    }
}

#impressum address p {
    border: solid rgb( 64,  64,  96) 1px;
    padding: .5rem .6rem;
}
